body {
    background-image: url("images/bgimage.jpg");
    background-size: cover;
    font-family: Balsamiq Sans;
}

canvas{
    float: right;
}

#TV {
    border: solid;
    border-width: 10px;
    border-color: black;
    padding: 33px;
    margin: 50px;
    background-color: pink;
    opacity: .8;
    width: 70%;
}

#topUI {
   
}

#TVguide {

}

#ProjectTitle {
    text-align: center;
}

.channeloption {
    display: flex;
    border: solid;
    border-width: 3px;
}

.channel {
    display: flex;
    flex-direction: column;
}

.year {
    border: solid;
    border-width: 3px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}